* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* DO NOT center body */
}

/* overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: -1;
}
